<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="mainPage :: mainHead">

</head>
<body onload="roleDiff()">
<div class="modal fade" id="selectCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">提示：</h4>
            </div>
            <div class="modal-body">
                账号或密码错误！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="wrapper">
    <nav th:replace="mainPage :: navi" class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0"></nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">交易查询</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        查询交易
                    </div>
                    <div class="panel-body">

                            <div class="form-group input-group">
                                <form action="#" th:action="@{/selectByIdResult}" th:object="${deal}" method="post">
                                    业务号: <input type="text" th:field="*{busId}"/>
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/js/plugins/dataTables/dataTables.bootstrap.js"></script>


</body>

</html>